*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'ALK Sanet';
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.d-block{
    display: block;
}
.ai-baseline{
    align-items: baseline;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.jc-center{
    justify-content: center;
}
.jc-between{
    justify-content: space-between;
}
.d-column{
    flex-direction: column;
}
.white{
    color: #FFFFFF;
}
.bg-colorfff{
    background-color: #FFFFFF;
}
.bg-colorF5AD00{
    background-color: #F5AD00;
}
.colorf5ad00{
    color: #F5AD00;
}
.bg-black{
    background-color: black;
}
.color6E6E6E{
    color: #6E6E6E;
}
.color-black{
    color:#111111;
}
.font-size24px{
    font-size: 24px;
}
.font-size14px{
    font-size: 14px;
}
.font-size18px{
    font-size: 18px;
}
.font-size28px{
    font-size: 28px;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.text-align{
    text-align: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.border-rad10{
    border-radius: 10px;
}
.border-rad6{
    border-radius: 6px;
}
body{
    position: relative;
}
.display-none{
    display: none;
}
.line-through{
    text-decoration: line-through;
}
.margin-0auto{
    margin: 0 auto;
}
.line-height{
    line-height: 1.3;
}

/*-------------------top header start--------------------*/
.main-box{
    background-color: #FAFAFA;
}
.header-for-responsive{
    display: none;
}
.language-box-resp{
    display: none;
}
.top-nav-container{
    max-width: 1276px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px 0px 50px 50px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px #FAFAFA;
    padding: 40px 45px;
}
.logo-link{
    margin-right: 5%;
}
.logo{
    height: 30px;
    object-fit: cover;
}
.menu{
    position: absolute;
    display: block;
    border-style: none;
    background: white;
    z-index: 70;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}
.menu.move .burger-menu:nth-child(2){
    opacity: 0;
}
.menu.move .burger-menu:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}
.menu.move .burger-menu:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

.burger-menu{
    display: block;
    width: 25px;
    height:3px;
    background-color: #242424;
    border-radius: 20px;
    margin: 4px;
}
.active{
    display: block;
    position: absolute;
    background-color: #111111;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.menu-list{
    display: none;
    max-width: 1272px;
    width: 100%;
    height: 700px;
    background-color: #FFFFFF;
    z-index: 60;
    border-radius: 0px 0px 50px 50px;
}
.open{
    display: block;
    position: absolute;
    top:0px;
    left:50%;
    transform: translate(-50%);
    padding: 33px 45px;
}
.language-box{
    margin-right: 100px;
}
.language-box span{
    color: #6E6E6E;
    font-size: 12px;
}
.search-div{
    width: 535px;
    box-shadow: 0px 0px 10px #597DBC0D;
    margin: 80px auto;
    padding: 10px;
}
.search-div input{
    outline: none;
    border-style: hidden;
    margin-left: 20px;
}
.search-icon{
    padding: 9px;
    background-color: #74B42C;
    cursor: pointer;
}
.menu-header-ul li{
    margin-right: 30px;
}
.animal-menu-list{
    margin: 0 auto;
    max-width: 737px;
    width: 90%;
}
.animal-menu-list li{
    color: #111111;
    list-style: none;
    cursor: pointer;
}
.activelevel{
    color: #74B42C;
}
.level{
    display: none;
}
.menu-img-dog{
    width: 200px;
    height: 200px;
    right: 20px;
    bottom: 20px;
}
.header-search div{
    margin-right: 30px;
}
.category-list h2{
    color: #8FC356 ;
    font-size: 18px;
    margin: 50px 0 16px 0;
}
.product-levels{
    margin-right: 16px;
}
.product-levels a{
    color: #6E6E6E;
    font-size: 14px;
}
.product-levels a:active{
    color: #111111;
}
.product-levels li{
    margin-bottom: 8px;
}
@media (max-width:800px) {
    .header-search{
        display: none;
    }
    .menu{
        left: 88%;
    }
}
/*--------------main page main picture---------------*/
.container{
    max-width: 1186px;
    width: 90%;
    margin: 0 auto;
}
.slider-sec{
    height: 280px;
    margin-top: 70px;
}
.main-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.button-buy-now{
    padding: 14px 40px;
    border: none;
    margin-left: 20%;
    margin-top: 44px;
    cursor: pointer;
}
.home-main-img-text{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 344px;
}
.side-click{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.left{
    top: 45%;
    left:35px;
    z-index: 40;
}
.right{
    top: 45%;
    right:35px;
    z-index: 40;
}
.swiper-paginations{
    z-index: 2;
    bottom: 15px;
}
.swiper-paginations span{
    display: block;
    height: 5px;
    width: 12px;
    background-color: #FFFFFF;
    opacity: 0.5;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 0px;
}
.btn-main-sliders span:hover{
    width: 18px;
    opacity: 1;
}
.slide{
    overflow: hidden;
    width: 100%;
    height: 280px;
}
.slides{
    width: 100%;
}
/*------------------offer section------------------*/
.offer-icon-box{
    width: 40px;
    height: 40px;
}
.home-offers-box{
    margin: 70px auto;
}
.home-offers-box h3{
    width: 118px;
    font-size: 14px;
    margin-left: 29px;
}
.bg-colorE3F0D4{
    background-color: #E3F0D4;
}
.bg-colorFDDFD2{
    background-color: #FDDFD2;
}
.bg-color3CABE0{
    background-color: #174781;
}
.bg-colorCC96D0{
    background-color: #980fa3;
}
.opacity02{
    opacity: 0.2;
}
.padd30-58-30-31{
    padding: 30px 58px 30px 31px;
}
.offer-box1{
    background-color: #F1F7E9;
}
.offer-box2{
    background-color: #FEEFE8;
}
.offer-box3{
    background-color: #EBF7FC;
}
.offer-box4{
    background-color: #FAF4FA;
}
/*-------------------animal-world section--------------------------*/
.flex2{
    flex:2;
}
.flex1{
    flex: 1;
}
.dog-world-box{
    background-color: #F5621F;
    padding: 30px 80px 40px 80px;
}
.dog-world-box div{
    top:100px;
}
.dog-world-box h4{
    margin: 30px 0 50px 0;
    width: 300px;
}
.dog-world-box h3{
    font-size: 14px;
}
.padding14px24px{
    padding: 14px 24px;
}
.fish-world-box{
    background-color: #1487BD;
    margin: 0 26px;
    width: 360px;
    height: 200px;
    overflow: hidden;
}
.fish-world-box h4{
    width: 270px;
    left:60px;
    top: 50px;
}
.fish-img{
    right: 120px;
    bottom: -100px;
    z-index: 4;
}
.bird-img{
    bottom: 0px;
    right: 0px;
}
.fish-button{
    bottom: 20px;
    right: 20px;
    padding: 14px 15px;
}
.bird-button{
    bottom: 20px;
    left: 20px;
    padding: 14px 15px;
}
.bird-world-box{
    background-color: #6CB715;
    width: 360px;
    height: 200px;
}
.bird-world-box h4{
    z-index: 2;
    top: 50px;
    left:20px
}
.cat-world-box{
    background-color: #F5AD00;
    margin: 26px 0 0 26px;
    padding-top: 45px;
} 
.cat-world-box h4{
    width: 268px;
} 
.button-show-prod{
    padding: 14px 24px;
    margin: 30px 0;
}
/*----------------------top  products------------------------*/
.resp-top-product-wrapper{
    display: none;
}
.resp-first-top-products{
    display: none;
}
.wrapper-top-products h2{
    margin-top: 75px;
    margin-bottom: 31px ;
}
.top-product-section{
    margin-bottom: 70px;
}
.pedigre{
    width: 100px;
    left:50%;
    transform: translate(-50%);
}
.top-products-item{
    display: inline-block;
    padding: 30px 10px;
}
.top-products-item h3{
    margin-top: 200px;
    margin-bottom: 9px;
    font-size: 18px;
    margin-left:10px;
}
.top-products-item p{
    font-size: 12px;
    margin-bottom: 16px;
    width: 217px;
    margin-left:10px;
}
.weight-box{
    width: 100px;
    height: 35px;
    background-color: #F8F8F8;
    font-size: 13px;
    border-radius: 4px;
    margin: 7px;
    cursor: pointer;
}
.weight-box:active{
    background-color: #F5621F;
}
.weight-box input{
    display: none;
}
.percent-icon{
    padding: 14px;
    background-color: #F5621F;
    right: 15px;
    top:15px;
    border-radius: 4px;
}
.price{
    margin-top: 19px;
    padding:0 10px;
}
.new-price{
    color:#F5621F;
    font-size: 24px;
}
.old-price{
    font-size: 11px;
    text-decoration: line-through;
}
.shopping-cart-icon{
    padding: 8px;
    border-radius: 4px;
    background-color: #F5621F;
    cursor: pointer;
    margin-right: 25px;
}
.shopping-cart-icon:hover{
    background-color: #74B42C;
}
.swiper {
    width: 100%;
}
.swiper-button-next{
    color: #FFFFFF;
    background-color: #FFFFFF;
    top:50%;
    right:20px;
    width: 50px;
    height: 45px;
    padding-left: 18px;

}
.swiper-button-prev{
    color: #FFFFFF;
    background-color: #FFFFFF;
    top:50%;
    left:20px;
    width: 50px;
    height: 45px;
    padding-left: 18px;
}
/*----------------------pay info section-----------------------*/
.pay-card{
    height: 500px;

}
.pay-card img{
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
}
.pay-card h4{
    top:85px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 250px;
}
.pay-card h4 .zootopia-color:nth-child(1){
    color: #D79F18;
}
.pay-card h4 .zootopia-color:nth-child(2){
    color: #1487BD;
}
.pay-card h4 .zootopia-color:nth-child(3){
    color: #F5621F;
}
.pay-card h4 .zootopia-color:nth-child(4){
    color: #74B42C;
}
.pay-card h4 .zootopia-color:nth-child(5){
    color: #B7881C;
}
.pay-card h4 .zootopia-color:nth-child(6){
    color: #CC96D0;
}
.pay-card h4 .zootopia-color:nth-child(7){
    color: #C5C5C5;
}
.pay-card h4 .zootopia-color:nth-child(8){
    color: #6A6D14;
}
.rodent-product{
    height: 500px;
    background-color: #FEE02E;
    overflow: hidden;
    margin: 0 26px;
}
.rodent-product h4{
    margin: 45px 0 45px 45px;
    font-size: 24px;
    width: 200px;
}
.rodent-product a{
    margin-left: 45px; 
}
.rodent-product div{
    width: 400px;
    height: 400px;
    background-color: #FFFFFF;
    opacity: 0.3;
    border-radius: 60%;
    bottom: -100px;
    left: -80px;
    z-index: 2;
}
.rodent-product img{
    position: absolute;
    right: -113px;
    bottom: -41px;
    z-index: 3;
}
.best-selling-box{
    height: 500px;
    width: 370px;
    overflow: hidden;
}
.best-selling-box h4{
    margin: 45px 0 55px 45px;
    width: 180px;
}
.best-selling{
    position: absolute;
    width: 119px;
    height: 119px;
    border-radius:0 0 0 100%;
    top: 0px;
    right: 0px;
    background-color: #F5621F;
    padding-left: 30px;
    padding-bottom: 40px;
}
.best-selling-show-button{
    background-color: black;
    color: #FFFFFF;
}
.best-selling-box img{
    width: 150px;
}
.best-selling-box h3{
    margin: 25px 0;
}
.content-best-selling{
    width: 200px;
    left:50%;
    transform: translate(-50%);
}
.button-prev img{
    width: 25px;
}
.button-next img{
    width: 25px;
}
.cover-natural-product{
    height: 250px;
    margin-bottom: 75px;
}
.cover-natural-product p{
    top:56px;
    left: 100px;
    font-size: 32px;
    color: #FFFFFF;
    width: 530px;
} 
.cover-natural-product a{
    bottom: 50px;
    left: 100px;
}
.cover-natural-product img{
    top: -55px;
    right: 50px;
}
/*------------------------brands slider------------------*/
.resp-myBrends{
    display: none;
}
.myBrends{
    max-width: 1186px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.brand-img-div{
    width: 170px;
    margin-top: 31px;
}
.brand-img-div img{
    width: 100%;
    border-radius: 10px;
}
.swiper-next{
    top:50%;
    right:20px;
    padding:22px 15px;
    cursor: pointer;
}
.swiper-prev{
    top:50%;
    left:20px;
    padding:22px 15px;
    cursor: pointer;
}
@media (max-width:1320px) {
    .myBrends{
        width: 80%;
    }
}
/*---------------------footer styles-------------------*/
.footer-box{
    padding: 130px 0 46px 0;
}
.footer-para{
    font-size: 12px;
    color: #6E6E6E;
    width: 378px;
    margin-top: 27px;
    line-height: 1.8;
}
.footer-nav{
    margin-right: 80px;
}
.footer-nav h3{
    margin-bottom: 27px;
    color: #111111;
}
.footer-nav li{
    line-height: 1.8;
    color: #6E6E6E;
}
.footer-nav a:hover{
    color: #111111;
}
.footer-nav a{
    color: #6E6E6E;
    font-size: 12px;
}
.Conf{
    color: #6E6E6E;
}
.smart-web{
    color: #74B42C;
}
.footer-bottom{
    margin-top: 177px;
}
.fb-icon-bg{
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    margin-top: 30px;
}
.about-img{
    background-color: #F5621F;
    height: 400px;
    max-width: 984px;
    width: 90%;
    margin: 0 auto;
}
.contact-section{
    max-width: 1186px;
    width: 90%;
    margin: 0 auto;
}
.page-location{
    max-width: 1186px;
    margin: 60px 0;
}
.page-location img{
    vertical-align: middle;
    margin: 0 15px;
}
.page-location-active{
    color: #111111;
}
.info-aboutus{
    max-width: 782px;
    width: 100%;
    margin: 65px auto 100px;
}
.info-aboutus p{
    margin: 31px 0;
    line-height: 1.8;
    font-family: 'Arial GEO';
}
.contact-page{
    max-width: 976px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-side{
    display: flex;
    flex-direction: column;
}
.details{
    display: flex;
    align-items: center;
    padding: 16px 0px;
}
.details img{
    margin-right: 35px;
}
.all-details{
    display: flex;
    flex-direction: column;
}
.destination{
    font-size: 12px;
    color: #9C9C9C;
}
.all-details p{
    margin: 4.5px 0px;
}
/*------------------category------------------------*/
#chose-price{
    border-style: none;
    background-color: #FFFFFF;
    outline: none;
    color: #F5621F;
}
#chose-price option{
    outline: none;
    color:#F5621F;
    font-size: 14px;
}
.resp-price{
    display: none;
}
.flex3{
    flex: 3;
}
.chose-side{
    box-shadow: 0px 0px 20px #597DBC0D;
}
.categories-box{
    padding: 20px 40px;
    border-bottom: 1px solid #E7E7E7;
}
.category-choise input{
    margin: 4px;
}
.category-choise input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
}
.category-choise label{
    position: relative;
    padding-left: 25px;
}
.category-choise label::before{
    content: '';
    width: 15px;
    height: 15px;
    background: #E7E7E7;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
}
.category-choise input[type="radio"]:checked + label::after{
    content: '';
    background-color: #74B42C;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
}
.category-choise div{
    margin: 10px 0;
}
.numberVal input{
    width: 90px;
    text-align: center;
    padding: 10px 20px;
    border-style: none;
    background-color: #E7E7E7;
    color: #111111;
    font-size: 13px;
    border-radius: 4px;
}
.range-slider{
    margin-top: 47px;
    position: relative;
    height: 5px;
    width: 100%;
    background: #ddd;
    outline: none;
    top: 1px;
    margin:80px 0 20px;
}
.range-slider .progress{
    left:25%;
    right: 25%;
    height: 100%;
    background-color: #74B42C;
    border-radius: 50px;
    position: absolute;
}
.range-slider input{
    position: absolute;
    top: 0px;
    left: -2px;
    width: 101%;
    height: 100%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
}
.range-slider input::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #74B42C;
    border-radius: 50px;
}
.sliderValue{
    width: 100%;
}
.left-price{
    position: absolute;
    background-color: #3F3F3F;
    color: #FFFFFF;
    width: 50px;
    padding: 5px 0px;
    top: -50px;
    left: 20%;
    text-align: center;
}
.left-price-span{
    width: 15px;
    height: 15px;
    bottom: -10px;
    left:50%;
    transform: translate(-50%);
    background-color: #111111;
}
.right-price{
    position: absolute;
    background-color: #3F3F3F;
    color: #FFFFFF;
    width: 50px;
    padding: 5px 0px;
    top:-50px;
    right: 20%;
    text-align: center;
}
#choise-category-option{
    border-style: none;
    background-color: #FFFFFF;
    outline: none;
}
#choise-category-option option{
    border-style: none;
    background-color: #FFFFFF;
    outline: none;
}
.category-name{
    display: flex;
    justify-content: space-between;
}
.category-name img{
    transform: rotate(90deg);
    cursor: pointer;
}
.open-category{
    display: none;
}
.open-category-active{
    display: block;
}
.filtration{
    width: 150px;
    margin: 30px auto;
}
.filtration button{
    font-size: 13px;
    color: #FFFFFF;
    background-color: #74B42C;
    border-style: none;
    border-radius: 10px;
    padding: 19px 0 22px;
    width: 100%;
}
.filter{
    display: none;
}
.category-product{
    width: 277px;
    padding: 5x;
    margin: 5px;
    box-shadow: 0px 0px 20px #597DBC0D;
}
.resp-page-numb{
    display: none;
}
.page{
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
    border-radius: 4px;
    background-color: white;
    margin-top: 60px;
}
.page li{
    margin: 10px;
    padding: 16px;
    border-radius: 4px;
}
.page a{
    color: #111111;
}
.active-page{
  background-color: #74B42C;  
}
.flex2{
    flex:2;
}
.imgs-box div{
    padding: 20px;
    box-shadow: 0px 0px 20px #597DBC0D;
    margin-bottom: 5px;
    border-radius: 10px;
}
.imgs-box img{
    width: 60px;
    height: 60px;
}
.product-main-img{
    background-color: #FFFFFF;
    width: 377px;
    margin-left: 20px;
    box-shadow: 0px 0px 20px #597DBC0D;
}
.product-main-img img{
    width: 150px;
}
.playbutton-box{
    width: 100%;
    height: 100%;
    background-color: #F5621F;
    opacity: 0.6;
    top: 0;
    left:0px;
    z-index: 1;
}
.playbutton-box img{
    z-index: 2;
    width: 8px;
    margin: 0 auto;
}
.product-about{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #597DBC0D;
    height: 430px;
}
.product-about p{
    width: 370px;
    margin:30px 0;
}
.more-text{
    display: none;
}
.product-seria{
    margin: 14px 0 29px;
}
.product-seria img{
    margin: 0 10px 0 30px;
}
.number{
    width: 200px;
    padding: 13px;
    background-color: #F8F8F8;
    border-radius: 10px;
    margin:30px auto;
}
.add-card{
    width: 200px;
    padding: 13px;
    border-radius: 10px;
    background-color: #74B42C;
    color: #FFFFFF;
    margin: 0 auto;
}
.product-about button{
    width:80px;
    font-size: 12px;
    margin: 0 auto;
    background-color: #FFFFFF;
    color: #9C9C9C;
    border-style: none;
}
.resp-about-text{
    display: none;
}
.product-pay{
    width: 270px;
    padding: 20px 0;
    margin: 0 auto;
}
.choise-weight{
    width: 350px;
}
.product-pay{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #597DBC0D;
    padding: 5px;
    padding: 0 0 10px 20px;
    margin-bottom: 30px;
    height: 273px;
}
.brend-product-pay{
    box-shadow: 0px 0px 20px #597DBC0D;
    border-radius: 10px;
}
.brend-product-pay img{
    width: 100%;
}
.pay-price{
    padding-top: 30px;
}
.resp-pay-price{
    display: none;
}
.resp-choise-weight{
    display: none;
}
@media (max-width:1276px) {
    .product-side-box{
        justify-content: center;
    }
}
@media (max-width:1231px) {
    .categories-box{
        justify-content: space-around ;
    }
}
@media (max-width:1224px) {
    .d-block{
        display: block;
    }
    .dog-world-box{
        height: 240px;
        width: 90%;
        margin: 0 auto 20px;
    }
    .dog-world-box div{
        top:40px;
    }
   .cat-world-box{
        width: 90%;
        margin: 20px auto 0;
        height: 240px;
   }
   .bird-world-box{
       margin: 0 auto;
   }
   .fish-world-box{
       margin: 0px auto;
   }
   .fish-and-bird{
    justify-content: space-around;
   }
   .home-offers-box{
       justify-content: space-around;
   }
   .offer-box{
    width: 35%;
    margin-bottom: 20px;
   } 
   .cover-natural-product img{
    right: -28px;
    top:102px;
    width: 250px;
   }
   .swiper-wrapper{
    justify-content: center;
   }
}
@media(max-width:964px){
    .product-img{
        width: 50%;
    }
    .product-about{
        width: 50%;
    }
    .product-about p{
        width: 90%;
        margin-left: 20px;
    }
    .choise-weight{
        width: 90%;
        justify-content: center;
    }
}
@media(max-width:950px){
    .pay-top-sale{
        display: block;
    }
    .pay-card{
        margin: 20px auto 10px;
        max-width: 370px;
        width:90%;
        height: 350px;
    }
    .pay-card img{
        height: 100%;
        object-fit: cover;
    }
    .rodent-product{
        margin:10px auto;
        max-width: 370px;
        width:90%;
        height: 350px;

    }
    .myTopSelling{
        margin: 10px auto;
        max-width: 370px;
        width:90%;
        height: 380px;
    }
    .button-prev{
        width: 30px;
        height: 30px;
        top:50%;
    }
    .button-prev img{
        width:15px;
    }
    .button-next{
        width: 30px;
        height: 30px;
        top:50%;
    }
    .button-next img{
        width: 15px;
    }
    .content-best-selling img{
        width: 80px;
    }
}
@media (max-width:900px) {
    .fish-and-bird{
        display: block;
    }
    .fish-and-bird div{
        width: 90%;
    }
    .fish-and-bird h4{
        margin-bottom: 60px;
    }
    .fish-img{
        left: -140px;
        transform:rotate(-10deg);
    }
    .fish-world-box{
        margin-bottom: 20px;
    }
    .bird-img{
        z-index: 3;
        width: 206px;
    }

}
@media (max-width:860px) {
    .footer-body{
        display: block;
    }
    .footer-nav{
        margin: 20px 5px;
    }
    .cover-natural-product p{
        width: 350px;
    }
    .cover-natural-product a{
        bottom: 23px;
        left: 100px;
    }
    .contact-page{
        flex-direction: column;
        margin-bottom: -100px;
    }
    .product-about p{
        display: none;
    }
    .product-about button{
        display: none;
    }
    .choise-weight{
        display: none;
    }
    .brend-product-pay{
        display: none;
    }
    .resp-about-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }
    .resp-about-text p{
        width: 90%;
        margin: 0 auto;
    }
    .resp-about-text div{
        display: inline-block;
        margin: 20px auto;
    }
    .resp-about-text button{
        width:80px;
        font-size: 12px;
        background-color: #FFFFFF;
        color: #9C9C9C;
        border-style: none;
    }
    .product-about{
        height: 60px;
        order:1;
        width: 377px;
    }
    .product-main-img{
        margin: 20px 0;
        padding: 20px 0;
        justify-content: center;
    }
    .product-img{
        order: 2;
        flex-direction: column-reverse;
        width: 377px;
    }
    .imgs-box{
        flex-direction: row;
    }
    .imgs-box div{
        padding: 10px;
    }
    .pay-price-box{
        order: 3;
        margin: 25px 0;
    }
    .product-description{
        flex-direction: column;
    }
    .pay-price{
        display: none;
    }
    .product-pay{
        box-shadow: none;
        width: 100%;
    }
    .resp-pay-price{
        display: inline-block;
    }
    .resp-choise-weight{
        display: flex;
    }
    .resp-choise-weight div{
        width: 43%;
    }
}
@media (max-width:700px) {
    .offer-box{
        width: 70%;
        margin-bottom: 10px;
    }
    .resp-first-top-products{
        display: block;
    }
    .top-product-section{
        display: none;
    }
    .resp-top-product-wrapper{
        display: block;
        width: 90%;
        margin: 20px auto;
        padding-bottom: 60px;
        background-color: #E7E7E74D;
    }
    .resp-top-product{
        display: flex;
        flex-wrap: wrap;
        margin: 20px auto;
        height: 442px;
        overflow: scroll;
        overflow-x: hidden;
        box-sizing: content-box;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .resp-top-product div{
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 20px;
        margin: 5px;

    }
    .resp-top-product div img{
        width: 55px;
    }
    .best-sellig-div-button{
        width: 192px;
        margin: 0 auto;
    }
    .best-sellig-div-button a{
        width: 100%;
        margin: 0 auto;
        padding: 14px 10px;
        font-size: 14px;
    }
}
@media (max-width:650px) {
    .footer-nav{
        margin-right: 0;
    }
    .cover-natural-product{
        overflow: hidden;
    }
    .cover-natural-product p{
        top: 32px;
        left: 26px;
        width: 290px;
    }
    .cover-natural-product img{
        width: 250px;
        top: 118px;
        right: -74px;
    }
    .cover-natural-product a{
        bottom: 34px;
        left: 26px;
    }
    .top-products-item p {
        width: auto;
    }
    .dog-world-box h4{
        width: 200px;
    }
    .font-size18-resp650{
        font-size: 18px;
    }
    .font-size14-resp650{
        font-size: 14px;
    }
    .fish-img{
        width: 180px;
        left:-40px;
        bottom:-38px;
    }
    .fish-world-box h4{
        left:20px;
        width: 200px;
    }
    .cat-world-box h4{
        width: 200px;
    }
    .slider-sec{
        height: 280px;
        margin-top: 64px;
    }
    .top-nav-container{
        position: fixed;
        top: 0px;
        z-index: 200;
    }
    .swiper-button-left {
        display: none;
    }
    .swiper-button-right{
        display: none;
    }
    .rodent-product img{
        right: -50px;
        bottom: -31px;
        width: 400px;
    }
    .contact-section{
        width: 90%;
        margin: 150px auto 0px;
    }
    .contact-section iframe{
        width: 100%;
        height: 130px;
        margin-bottom: 10px;
    }
    .filter{
        display: inline-block;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        height: 55px;
        box-shadow: 0px 0px 20px #597DBC0D;
        width: 80%;
        margin: 0 auto;
        border-radius: 10px;
    }
    .filter input{
        border-style: none;
    }
    .filter label{
        position: absolute;
        font-size: 14px;
    }
    .category-place-and-price-box{
        display: none;
    }
    .page-location :first-child{
        display: none;
    }
    .page-location img{
        display: none;
    }
    .resp-price{
        display: inline-block;
        margin: 120px 0 20px;
        display: flex;
        justify-content: center;
    }
    .resp-price label{
        font-size: 14px;
    }
    .resp-price select{
        font-size: 14px;
    }
    .about-page-body{
        margin-top: 150px;
        position: relative;
        margin-bottom: -100px;
    }
    .about-img{
        height: 130px;
        width: 100%;
        position: absolute;
        top:50px;
        left:0;
    }
    .info-aboutus{
        margin-top: 200px;
    }
}
@media(max-width:555px){
    .chose-side{
        display: none;
    }
    .category-product{
        width: 90%;
    }
    .pages-number-box{
        display: none;
    }
}
@media (max-width:520px) {
    .myBrends{
        display: none;
    }
    .resp-myBrends{
        display: block;
    }
    .myBrends2{
        width: 90%;
        overflow: hidden;
        margin-left: 20px;
    }
    .swiper-next{
        display: none;
    }
    .swiper-prev{
       display: none;
    }
    .brand-img-div img{
        height: 90px;
    }
    .resp-page-numb{
        display: flex;
        margin: 20px 0;
    }
}
@media (max-width:400px) {
    .footer-box{
        padding-top: 0px;
        margin-bottom: 50px;
    }
    .footer-body{
        display: none;
    }
    .footer-bottom{
        flex-direction: column-reverse;
    }
    .text-center{
        text-align: center;
    }
    .pay-options{
        margin-bottom: 80px;
    }
    .conf{
        margin-top: 8px;
    }
    .cover-natural-product img{
        width: 180px;
        top: 140px;
        right: -74px;
    }
    .cover-natural-product p{
        font-size: 20px;
        width: 150px;
    }
    .logo{
        height: auto;
    }
    .header-for-responsive{
        display: block;
        position: fixed;
        bottom: 0px;
        z-index: 200;
        width: 100%;
        padding: 12px;
    }
    .menu{
        display: none;
    }
    .menu-resp{
        border-style: none;
        background: none;
        cursor: pointer;
    }
    .menu-resp div{
        background-color: #FFFFFF;
    }
    .menu-resp-box{
       background-color: #74B42C;
       border-radius: 50%;
       width: 40px;
       height: 40px;
    }
    .language-box-resp{
        display: block;
    }
    .language-box-resp span{
        color: #242424;
        font-size: 14px;
    }
    .resp-menu-list{
        font-size: 10px;
        color:#242424;
        margin-top: 8px;
    }
    .best-sellig-div-button{
        width: 145px;
    }
    .best-sellig-div-button a{
        font-size: 10px;
    }
    .resp-top-product div img{
        width: 35px;
    }
    .pay-card h4{
        width:184px;
        font-size: 18px;
    }
    .rodent-product h4{
        width: auto;
        font-size: 20px;
    }
    .rodent-product a{
        padding: 10px;
    }
    .best-selling{
        display: none;
    }
    .footer-bottom{
        margin-top: 20px;
    }
    .product-main-img{
        width: 250px;
        margin: 0 auto;
    }
    .product-description{
        justify-content: center;
    }
    .product-about{
        width: 250px;
    }
    .imgs-box{
        width: 90%;
        margin: 0 auto;
    }
    .imgs-box div{
        width: 40px;
        height: 40px;
    }
    .imgs-box img{
        width: 100%;
        height: 100%;
    }
    .product-about{
        width: 90%;
    }
    .product-img{
        width: 90%;
    }
    .product-main-img{
        width: 90%;
    }
    .resp-choise-weight{
        width: 90%;
    }
    .add-card{
        width: 90%;
    }
    .number{
        width: 90%;
    }
}
@media(max-width:310px){
    .weight-box{
        width: 60px;
    }
}